<h1 class="text-primary">Stupid Coaching</h1>

<h2>Votre Question :</h2>
<p><%= @question %></p>

<h2>Réponse du Coach :</h2>
<p><%= @answer %></p>


<%= link_to "Repose moi une question", ask_path  %>
