<h1 class="bg-primary text-white rounded m-3 col-2 text-center">Stupid Coaching</h1>

<form action="/answer" data-turbo="false" class="col m-3 align-items-center form-control-plaintext">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="primary">
</form>
